<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<div th:if="${param.error}">Username already exists.</div>
	<form th:action="@{/newuser}" method="post">
		<div>
			<label> First Name : <input type="text" name="firstname" />
			</label>
		</div>
		<div>
			<label> Last Name : <input type="text" name="lastname" />
			</label>
		</div>
		<div>
			<label> Username : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Register" />
		</div>
	</form>
</body>
</html>