<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Remove Item</title>
</head>
<body>
	<form th:action="@{/cart/_remitem}" method="post">
		<div>
			<label> CartId: <input type="number" name="cartId" />
			</label>
		</div>
		<div>
			<label> ProductId: <input type="number" name="productId" />
			</label>
		</div>
		<div>
			<input type="submit" value="Remove Item" />
		</div>
	</form>
</body>
</html>